{% extends 'base_layout.html'%}

{% block content %}
<!-- <div class="d-flex flex-column flex-shrink-0 bg-dark bg-gradient" style="width: 4.5rem;">
    <a href="/" class="d-block p-3 link-dark text-decoration-none" title="Icon-only" data-bs-toggle="tooltip"
        data-bs-placement="right">
        <svg class="bi pe-none" width="40" height="32">
            <use xlink:href="#bootstrap" />
        </svg>
        <span class="visually-hidden">Icon-only</span>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
            <a href="#" class="nav-link active py-3 border-bottom rounded-0" aria-current="page" title="Home"
                data-bs-toggle="tooltip" data-bs-placement="right">
                <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Home">
                    <use xlink:href="#home" />
                </svg>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom rounded-0" title="Dashboard" data-bs-toggle="tooltip"
                data-bs-placement="right">
                <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Dashboard">
                    <use xlink:href="#speedometer2" />
                </svg>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom rounded-0" title="Orders" data-bs-toggle="tooltip"
                data-bs-placement="right">
                <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Orders">
                    <use xlink:href="#table" />
                </svg>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom rounded-0" title="Products" data-bs-toggle="tooltip"
                data-bs-placement="right">
                <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Products">
                    <use xlink:href="#grid" />
                </svg>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom rounded-0" title="Customers" data-bs-toggle="tooltip"
                data-bs-placement="right">
                <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Customers">
                    <use xlink:href="#people-circle" />
                </svg>
            </a>
        </li>
    </ul>
    <div class="dropdown border-top">
        <a href="#"
            class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div> -->
<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="bg-dark text-secondary px-4 py-5 text-center">
                <div class="py-5">
                    <h1 class="display-5 fw-bold text-white">Give DOLOS a Try!</h1>
                    <div class="col-lg-6 mx-auto">
                        <p class="fs-5 mb-4">DOLOS is designed to classify misinformation within user comments so let's give it a try!</p>
                        <p class="fs-5 mb-4">Input a comment below and let DOLOS analyse the text. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Analyser-->
<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="row mx-auto">
                <form class="form-floating " method="GET" id="commentForm">
                    <textarea class="form-control my-3" id="commentInput" name="commentName" value="commentValue" rows="4"
                        cols="50" placeholder="Comment here..." placeholder="Comment here..." maxlength="250"
                        required></textarea>
                    <label for="commentInput">Comment</label>
                    <div class="">
                        <button class="btn btn-dark" id="analyseButton" type="button" onclick="analyseComment()">
                            <span class="" id="analyseButtonBody" role="status" aria-hidden="true"></span>
                            <span id="analyseText">Analyse Comment</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Analyser Result-->
<div class="container-fluid my-5" id="analyserResult"></div>
<!--Issues-->
<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="text-center mb-3">
            <h1 class="fs-1">Found Issues:</h1>
        </div>
        <div class="col-8">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Classified: <span class="badge bg-success">Neutral</span></h5>
                        <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Comment: Bill gates created covid.</p>
                    <small>This is obviously wrong!!!</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Classified: <span class="badge bg-success">Neutral</span></h5>
                        <small class="text-body-secondary">3 days ago</small>
                    </div>
                    <p class="mb-1">Another comment a user has analysed using DOLOS.</p>
                    <small class="text-body-secondary">The users comment, talking about the issue raised.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Classified: <span class="badge bg-danger">Misinformation</span></h5>
                        <small class="text-body-secondary">5 days ago</small>
                    </div>
                    <p class="mb-1">Another comment a user has analysed using DOLOS.</p>
                    <small class="text-body-secondary">And some muted small print.</small>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/sidebars.js') }}"></script>

{% endblock %}

{% block script %}

{% endblock %}

</html>