<div class="row justify-content-center">
    <div class="col-8">
        <div class="alert" id="result" role="alert">
            <h4 class="alert-heading" id="resultHeading">{{ prediction }}</h4>
            <p>"{{ comment }}"</p>
            <hr>
            <p class="mb-0">Do you agree with DOLOS? If not, raise an issue for the developer!</p>
        </div>
        <p>
            <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                Raise an Issue
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form action="" method="POST">
                    <div class="mb-3">
                        <label for="predictedClassification" class="form-label">Classification</label>
                        <input class="form-control" id="predictedClassification" type="text" value="{{ prediction }}"
                            aria-label="readonly input example" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="predictedComment" class="form-label">Comment</label>
                        <input class="form-control" id="predictedComment" type="text" value="{{ comment }}"
                            aria-label="readonly input example" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="issue" class="form-label">Issue Details</label>
                        <textarea type="text" rows="3" class="form-control" id="issue"></textarea>
                    </div>
                    <button class="btn btn-dark" type="submit" value="submit">
                        Submit Issue
                    </button>
                </form>
                <p class="mt-2">
                    Once DOLOS has analysed and classified a comment, sometimes it gets it wrong. By
                    submitting the issue above you are letting the developer and others know about issues
                    that allow improvements to be made to DOLOS!
                </p>
            </div>
        </div>
    </div>
</div>